*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.tiles{
    width: 80%;
    margin: auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    
}
.card{
    width: 300px;
    height: 75px;
    background-color: blueviolet;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}








